<h1>Editing listing</h1>
<div class="well well-sm">
  <h5>You only need to re-upload the image file if you want a different picture.</h5>
</div>
<%= render 'form' %>

<%= link_to 'Show', @listing, class:'btn btn-link' %>

