<h1>Editing listing</h1>
<div class="well well-sm">
  <h5>You don't need to include any special characters like dollar signs($), commas(,), or decimals(.) when adding a price to your listings.</h5>
</div>
<%= render 'form' %>

<%= link_to 'Show', @listing, class:'btn btn-link' %> |
<%= link_to 'Back', listings_path, class:'btn btn-link' %>
