<h1>Listings</h1>
<div class="well well-sm">
<h5> Login to create your own listings.</h5>
</div>

<div class="row">
   <% @listings.each do |listing| %>
  <div class="col-sm-3">
 
   <%= link_to image_tag(listing.image_url(:thumb)), listing %>
   <div class="row">
     
     
     <div class="col-md-8"><%= listing.name %></div>
     <div class="col-md-6"><%= listing.user.name %></div>
     <div class="col-md-6"><%= number_to_currency(listing.price) %></div>
        
   
     
     <% if user_signed_in? && (current_user == listing.user) %>   
    
     <% end %>
   </div>
    </div>
  
  <% end %>
  </div>   


