<h1>New listing</h1>
<div class="well well-sm">
  <h5>You don't need to include any special characters like commas (,) when setting a price to your listings.</h5>
  </div>
<%= render 'form' %>

<%= link_to 'Back', listings_path, class:'btn btn-link' %>
