<script>
$(document).ready(function() {
  $('#my_popup').popup();
});
</script>

<button class="my_popup_open"><%= link_to (image_tag "favicon.ico") %></button>

<div id="my_popup" class="well" style="max-width:44em;">
  <h4>Basic example</h4>
    <p>Try to change the width and height of browser window, or to rotate your device, and also try to navigate with the <kbd>Tab</kbd> key.</p>
    <p>You can close the dialog by pressing the <kbd>Esc</kbd> key, or by clicking on the background outside the content area, or by clicking on the Close button.</p>
    <button class="basic_close fade_open btn btn-default">Next example</button>
    <button class="basic_close btn btn-default">Close</button>
</div>


