<script>
$(document).ready(function() {
  $('#my_popup').popup();
});
</script>

<button class="my_popup_open"><%= link_to (image_tag "favicon.ico") %></button>

<div id="my_popup" class="well" style="max-width:44em;">
  <h4>Basic example</h4>
   <form method="post" action="mailto:adamlglover85@gmail.com" >
    <label for="textarea">Textarea</label><br>
				<textarea id="textarea">Try to resize me to see how popup CSS-based resizing works.</textarea>
<input type="submit" value="Send Email" /> 
</form>
</div>


