<div class="footer">
<div class="col-md-4">
  <ul> Created by Adam Glover 1</ul>
  <ul> Created by Adam Glover 2</ul>
  <ul> Created by Adam Glover 3</ul>
  <ul> Created by Adam Glover 4</ul>
</div>

<div class="col-md-4">
  <ul> Created by Adam Glover a</ul>
  <ul> Created by Adam Glover b</ul>
  <ul> Created by Adam Glover c</ul>
  <ul> Created by Adam Glover d</ul>
</div>

  <div class="col-md-4">
  <ul> Created by Adam Glover </ul>
  <ul> Created by Adam Glover </ul>
  <ul> Created by Adam Glover </ul>
  <ul> Created by Adam Glover </ul>
</div>
</div>